//
//  UAT.xcconfig
//  ISDemo
//
//  Created by Utsav Patel on 28/1/19.
//  Copyright © 2019 erbittuu. All rights reserved.
//

//Server URLS and Other Configuration Keys
// App config
bundle_id           = com.erbittuu.uat
app_name            = uat-ISDemo
icon_name           = AppIcon

// App info
info                = uat_build

// env config
server_url          = www.uatenv.com


// You can add more env config Keys here and don't forget to add same in info plist
